<<<<<<< HEAD
.parrafoResaltado{
    color: blue;
}

table, td{
    border: 1px solid #2668ec;
    border-collapse: collapse;
}
=======
.parrafoResaltado {
  color: blue;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
>>>>>>> arraysFunciones
